<% body_class('home-wrapper') %>

<div class="container">

<section class="new-session">
  
  <header>
    <h1>Fit Schedule</h1>
    <div>Book and track your all fitness classes with ease</div>
  </header>

  <div class="sign-in">
    <%= link_to 'Connect Google Calendar', '/auth/google_oauth2' %>
    <i class="fa fa-google"></i>
  </div>

</section>


<div class="tooltip about">
  <p>Fit Schedule maintains an updated listing of your favorite classes and let them know when they're available for booking. The app syncs with Google Calendars to remind you of the appointments.</p>
</div>

</div> <!-- end container -->
