/* LAYOUT */
/* line 4, /Users/nessa/code/projects/fitschedule/app/assets/stylesheets/base.scss */
body, html {
  min-height: 100%;
  font-size: 16px;
  font-family: 'Lato';
}

/* line 10, /Users/nessa/code/projects/fitschedule/app/assets/stylesheets/base.scss */
body {
  width: 100%;
  min-height: 100vh;
  /* needs to fix its height */
  position: relative;
  margin: 0;
}

/* line 17, /Users/nessa/code/projects/fitschedule/app/assets/stylesheets/base.scss */
.container {
  min-height: 95vh;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
}

/* line 24, /Users/nessa/code/projects/fitschedule/app/assets/stylesheets/base.scss */
div, section, ul, li {
  box-sizing: border-box;
}

/* STYLES */
/* line 29, /Users/nessa/code/projects/fitschedule/app/assets/stylesheets/base.scss */
a {
  text-decoration: none;
}

/* line 33, /Users/nessa/code/projects/fitschedule/app/assets/stylesheets/base.scss */
ul {
  list-style-type: none;
  padding: 0;
}

/* line 38, /Users/nessa/code/projects/fitschedule/app/assets/stylesheets/base.scss */
i {
  cursor: pointer;
}

/* line 42, /Users/nessa/code/projects/fitschedule/app/assets/stylesheets/base.scss */
.faint {
  color: #777;
  font-weight: 300;
}

/* line 47, /Users/nessa/code/projects/fitschedule/app/assets/stylesheets/base.scss */
.tooltip {
  display: none;
}

/* line 51, /Users/nessa/code/projects/fitschedule/app/assets/stylesheets/base.scss */
button {
  padding: 6px 12px;
  color: #333;
  background-color: #fff;
  border: 1px solid #ccc;
  cursor: pointer;
}
/* line 8, /Users/nessa/code/projects/fitschedule/app/assets/stylesheets/_mixins.scss */
button:hover {
  background-color: #ebebeb;
}
/* line 12, /Users/nessa/code/projects/fitschedule/app/assets/stylesheets/_mixins.scss */
button.active {
  background-color: #354443;
  color: #fff;
}

/* line 55, /Users/nessa/code/projects/fitschedule/app/assets/stylesheets/base.scss */
input[type="text"] {
  padding: 6px;
}

/* line 59, /Users/nessa/code/projects/fitschedule/app/assets/stylesheets/base.scss */
input, button {
  outline: none;
}
/* NAV BAR */
/* line 3, /Users/nessa/code/projects/fitschedule/app/assets/stylesheets/elements.scss */
nav {
  overflow: hidden;
  background: #1a2121;
  color: #fff;
}
/* line 8, /Users/nessa/code/projects/fitschedule/app/assets/stylesheets/elements.scss */
nav a {
  color: #fff;
  margin-right: .7em;
}
/* line 11, /Users/nessa/code/projects/fitschedule/app/assets/stylesheets/elements.scss */
nav a:hover {
  text-decoration: none;
}
/* line 16, /Users/nessa/code/projects/fitschedule/app/assets/stylesheets/elements.scss */
nav h1 {
  display: inline-block;
  margin: .6em 1em;
  text-transform: uppercase;
  font-weight: 300;
}
/* line 21, /Users/nessa/code/projects/fitschedule/app/assets/stylesheets/elements.scss */
nav h1 b {
  font-weight: 700;
}
/* line 26, /Users/nessa/code/projects/fitschedule/app/assets/stylesheets/elements.scss */
nav .options {
  float: right;
  margin: 1em;
}

/* FOOTER */
/* line 33, /Users/nessa/code/projects/fitschedule/app/assets/stylesheets/elements.scss */
footer {
  overflow: hidden;
  background-color: #1a2121;
  color: #fff;
  text-align: center;
}
/* line 39, /Users/nessa/code/projects/fitschedule/app/assets/stylesheets/elements.scss */
footer a {
  color: #fff;
}

/* MODAL & OVERLAY */
/* line 44, /Users/nessa/code/projects/fitschedule/app/assets/stylesheets/elements.scss */
body.no-scroll {
  position: fixed;
  overflow: hidden;
}

/* line 50, /Users/nessa/code/projects/fitschedule/app/assets/stylesheets/elements.scss */
.overlay, .modal-dialog {
  display: none;
}
/* line 52, /Users/nessa/code/projects/fitschedule/app/assets/stylesheets/elements.scss */
.overlay.active, .modal-dialog.active {
  display: block;
}

/* line 57, /Users/nessa/code/projects/fitschedule/app/assets/stylesheets/elements.scss */
.overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  z-index: 2;
}

/* line 65, /Users/nessa/code/projects/fitschedule/app/assets/stylesheets/elements.scss */
.modal-dialog {
  width: 80%;
  min-width: 600px;
  position: relative;
  min-height: 50%;
  margin: 25% auto;
  padding: 1.5em 1em;
  background-color: #fff;
  overflow: hidden;
}
/* line 75, /Users/nessa/code/projects/fitschedule/app/assets/stylesheets/elements.scss */
.modal-dialog.big {
  height: 80%;
  margin: 8% auto;
}
/* line 80, /Users/nessa/code/projects/fitschedule/app/assets/stylesheets/elements.scss */
.modal-dialog i.fa-times {
  font-size: 1.5em;
  position: absolute;
  top: 10px;
  right: 14px;
}

/* line 89, /Users/nessa/code/projects/fitschedule/app/assets/stylesheets/elements.scss */
.modal-dialog .content {
  height: 94%;
  margin-top: 1.5em;
  overflow-y: auto;
}
/* HOME PAGE */
/* line 3, /Users/nessa/code/projects/fitschedule/app/assets/stylesheets/home.scss */
.home-wrapper {
  height: 98vh;
  background: url("/assets/fitness.jpg");
  background-size: cover;
  overflow: hidden;
}
/* line 9, /Users/nessa/code/projects/fitschedule/app/assets/stylesheets/home.scss */
.home-wrapper .container {
  min-height: 100%;
}
/* line 13, /Users/nessa/code/projects/fitschedule/app/assets/stylesheets/home.scss */
.home-wrapper footer {
  margin-top: -86px;
}

/* line 18, /Users/nessa/code/projects/fitschedule/app/assets/stylesheets/home.scss */
.new-session {
  width: 70%;
  min-width: 600px;
  margin: 3% 0 0 3%;
  text-align: left;
}
/* line 25, /Users/nessa/code/projects/fitschedule/app/assets/stylesheets/home.scss */
.new-session header h1 {
  margin: 0 0 .15em 0;
  font-size: 10vh;
}
/* line 29, /Users/nessa/code/projects/fitschedule/app/assets/stylesheets/home.scss */
.new-session header div {
  font-size: 2.7vh;
}
/* line 34, /Users/nessa/code/projects/fitschedule/app/assets/stylesheets/home.scss */
.new-session .sign-in {
  margin-top: 2em;
  font-size: 1.2em;
}
/* line 38, /Users/nessa/code/projects/fitschedule/app/assets/stylesheets/home.scss */
.new-session .sign-in img {
  width: 40px;
  margin-bottom: -10px;
}

/* line 46, /Users/nessa/code/projects/fitschedule/app/assets/stylesheets/home.scss */
.about {
  width: 100%;
  padding: .7em 15%;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
}
/* line 3, /Users/nessa/code/projects/fitschedule/app/assets/stylesheets/schedule.scss */
section.schedule,
section.favorite-studios,
.customize-wrapper section {
  width: 80%;
  min-width: 700px;
  margin: 0 auto;
}

/* line 11, /Users/nessa/code/projects/fitschedule/app/assets/stylesheets/schedule.scss */
.upcoming .classes,
.suggested-classes .classes {
  color: #333;
}
/* line 15, /Users/nessa/code/projects/fitschedule/app/assets/stylesheets/schedule.scss */
.upcoming .classes li,
.suggested-classes .classes li {
  margin-bottom: 8px;
}
/* line 19, /Users/nessa/code/projects/fitschedule/app/assets/stylesheets/schedule.scss */
.upcoming .classes span,
.suggested-classes .classes span {
  width: 15%;
  margin-right: 2%;
  display: inline-block;
  vertical-align: top;
  font-weight: 300;
}
/* line 26, /Users/nessa/code/projects/fitschedule/app/assets/stylesheets/schedule.scss */
.upcoming .classes span.title,
.suggested-classes .classes span.title {
  width: 23%;
}
/* line 30, /Users/nessa/code/projects/fitschedule/app/assets/stylesheets/schedule.scss */
.upcoming .classes span.time,
.suggested-classes .classes span.time {
  width: 20%;
}
/* line 34, /Users/nessa/code/projects/fitschedule/app/assets/stylesheets/schedule.scss */
.upcoming .classes span .action, .upcoming .classes span.title,
.suggested-classes .classes span .action,
.suggested-classes .classes span.title {
  font-weight: 400;
}
/* line 39, /Users/nessa/code/projects/fitschedule/app/assets/stylesheets/schedule.scss */
.upcoming .classes .date,
.suggested-classes .classes .date {
  font-size: 1.7em;
  font-weight: 300;
  display: block;
  margin-bottom: 5px;
}
/* line 46, /Users/nessa/code/projects/fitschedule/app/assets/stylesheets/schedule.scss */
.upcoming .classes div.label,
.suggested-classes .classes div.label {
  padding-bottom: .3em;
  margin-bottom: .5em;
  border-bottom: 2px solid #ebebeb;
  color: #888;
  font-weight: 500;
}

/* line 56, /Users/nessa/code/projects/fitschedule/app/assets/stylesheets/schedule.scss */
section.schedule {
  margin-bottom: 2em;
}

/* line 60, /Users/nessa/code/projects/fitschedule/app/assets/stylesheets/schedule.scss */
a {
  color: #ff0032;
}
/* line 62, /Users/nessa/code/projects/fitschedule/app/assets/stylesheets/schedule.scss */
a:hover {
  text-decoration: underline;
}

/* line 67, /Users/nessa/code/projects/fitschedule/app/assets/stylesheets/schedule.scss */
h2, h3, h4 {
  font-weight: 400;
}

/* line 73, /Users/nessa/code/projects/fitschedule/app/assets/stylesheets/schedule.scss */
.customize-wrapper .container,
.schedule-wrapper .container {
  width: 80%;
  min-width: 700px;
}
/* line 78, /Users/nessa/code/projects/fitschedule/app/assets/stylesheets/schedule.scss */
.customize-wrapper section,
.schedule-wrapper section {
  display: none;
}
/* line 80, /Users/nessa/code/projects/fitschedule/app/assets/stylesheets/schedule.scss */
.customize-wrapper section.active,
.schedule-wrapper section.active {
  display: block;
}
/* line 85, /Users/nessa/code/projects/fitschedule/app/assets/stylesheets/schedule.scss */
.customize-wrapper .studio-show,
.schedule-wrapper .studio-show {
  width: 100%;
  margin: 0;
}

/* line 91, /Users/nessa/code/projects/fitschedule/app/assets/stylesheets/schedule.scss */
i {
  margin-right: .5em;
}

/* SUB NAV*/
/* line 99, /Users/nessa/code/projects/fitschedule/app/assets/stylesheets/schedule.scss */
.customize-nav li,
.schedule-nav li {
  display: inline-block;
  margin-right: 10px;
  padding: 6px 12px;
  color: #333;
  background-color: #fff;
  border: 1px solid #ccc;
  cursor: pointer;
}
/* line 8, /Users/nessa/code/projects/fitschedule/app/assets/stylesheets/_mixins.scss */
.customize-nav li:hover,
.schedule-nav li:hover {
  background-color: #ebebeb;
}
/* line 12, /Users/nessa/code/projects/fitschedule/app/assets/stylesheets/_mixins.scss */
.customize-nav li.active,
.schedule-nav li.active {
  background-color: #354443;
  color: #fff;
}

/* AVAILABILITY */
/* line 108, /Users/nessa/code/projects/fitschedule/app/assets/stylesheets/schedule.scss */
.time-blocks .days .day {
  display: inline-block;
  margin-right: 10px;
}
/* line 4, /Users/nessa/code/projects/fitschedule/app/assets/stylesheets/studio.scss */
.studio-form form .url {
  width: 20em;
}
/* line 8, /Users/nessa/code/projects/fitschedule/app/assets/stylesheets/studio.scss */
.studio-form button {
  background-color: #354443;
  color: #fff;
}

/* STUDIO SHOW PARTIAL */
/* line 14, /Users/nessa/code/projects/fitschedule/app/assets/stylesheets/studio.scss */
.studio-show {
  display: none;
}
/* line 16, /Users/nessa/code/projects/fitschedule/app/assets/stylesheets/studio.scss */
.studio-show.active {
  display: block;
}

/* line 21, /Users/nessa/code/projects/fitschedule/app/assets/stylesheets/studio.scss */
section.favorite-studios {
  margin: 2em auto 3em auto;
}
/* line 24, /Users/nessa/code/projects/fitschedule/app/assets/stylesheets/studio.scss */
section.favorite-studios h2, section.favorite-studios a.edit {
  display: inline-block;
  vertical-align: baseline;
}
/* line 29, /Users/nessa/code/projects/fitschedule/app/assets/stylesheets/studio.scss */
section.favorite-studios h2 {
  margin: 0;
}
/* line 33, /Users/nessa/code/projects/fitschedule/app/assets/stylesheets/studio.scss */
section.favorite-studios a.edit {
  margin-left: 2em;
}
/* line 38, /Users/nessa/code/projects/fitschedule/app/assets/stylesheets/studio.scss */
section.favorite-studios .studios .studio h4 i {
  margin-left: .5em;
}

/* STUDIOS & FILTERS */
/* line 48, /Users/nessa/code/projects/fitschedule/app/assets/stylesheets/studio.scss */
.studio-show .studio .name {
  font-size: 1.5em;
}
/* line 52, /Users/nessa/code/projects/fitschedule/app/assets/stylesheets/studio.scss */
.studio-show .studio .address {
  color: #888;
  margin: .4em 0;
}
/* line 58, /Users/nessa/code/projects/fitschedule/app/assets/stylesheets/studio.scss */
.studio-show ul.class-types {
  overflow: hidden;
}
/* line 61, /Users/nessa/code/projects/fitschedule/app/assets/stylesheets/studio.scss */
.studio-show ul.class-types .class {
  display: inline-block;
  width: 50%;
  padding-right: .5em;
}
/* line 66, /Users/nessa/code/projects/fitschedule/app/assets/stylesheets/studio.scss */
.studio-show ul.class-types .class i {
  margin-right: .3em;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *



 */


@import "font-awesome";
