<section class="availability">

  <h3>Specify your time preference</h3>
  <p>Blocks below indicate times when you are usually busy.</p>

  <ul class="time-blocks"></ul>

  <button class="add">Add </button>
</section>
