<section class="availability">

  <h3>Specify your time preference</h3>
  <p>Indicate times you are not available for classes.</p>

  <ul class="time-blocks"></ul>

  <button class="add">Add </button>
</section>
