<section class="availability">

  <h3>Specify your time preference</h3>
  <p>Indicate times you are not available for classes.</p>

  <ul class="time-blocks"></ul>

  <div class="actions">
    <button class="save">Save</button>
    <button class="add">Add</button>
  </div>
</section>
