<% body_class('customize-wrapper') %>
<input type='hidden' data-user="<%= current_user.id if current_user %>">

<div class="container">

<ul class="customize-nav">
  <a href='#studios'>Favorite studios</a>
  <a href='#availability'>Edit availability</a>
  <a href='#calendar'>Choose calendar</a>
</ul>

<%= render 'users/studios' %>
<%= render 'users/availability' %>

<section class="calendars">
  <h3>Choose a Calendar</h3>

  <ul class='all-calendars'></ul>
  <button class='update'>Update calendar</button>
</section>

</div> <!-- end container-->

<script type="text/javascript">
  var filter = new Filter();

  var customizeTabs = [ 'studios', 'availability', 'calendar' ];
  window.customizeNav = new Navigation(
    '/customize', customizeTabs, $('.customize-nav'),
    '.customize-wrapper section'
  );
</script>
