<% body_class('customize-wrapper') %>
<input type='hidden' data-user="<%= current_user.id if current_user %>">

<h2>Customize Your Schedule</h2>

<section class="calendars">
  <h3>Choose a Calendar</h3>

  <ul class='all-calendars'></ul>
</section>


<section class="studio-form">
  <h3>Paste a studio's schedule</h3>  

  <form id='studio-schedule'>
    <input class="url"></input>
    <button class="submit">View classes</button>
  </form>

  <p>
    Example: https://www.fitreserve.com/nyc/studios/1019-body-pole
  </p>

  <p>
  * We currently support mindbodyonline.com and fitreserve.com
  </p>
</section>

<%= render 'studios/show' %>

<%= render 'users/availability' %>

<button class="suggested-classes">View matches</button>

<script type="text/javascript">
  var calendar = new Calendar();

  var studio = new Studio();
  studio.getClasses();

  var filter = new Filter();
</script>
