<% body_class('schedule-wrapper') %>

<div class="container">

<section class="schedule">
  <h2>Upcoming classes</h2>
  <ul class="classes"></ul>

  <button class="save-appointments disabled">Update schedule</button>
</section>


<section class="suggested-classes">
  <h2>Available classes</h2>
  <ul class='classes'></ul>
</section>


<section class="favorite-studios">
  <h2>Your studios</h2>
  <a href="/customize" class="edit">
    <i class="fa fa-pencil-square-o"></i> Add favorite studios
  </a>

  <%= render 'studios/show' %>
  <ul class="studios"></ul>
</section>

</div> <!-- end container -->

<script type="text/javascript">
  var schedule = new Schedule();
  schedule.getAppointments();
  schedule.suggestClasses();

  var studio = new Studio();
  studio.showFavorites();
</script>
