<% body_class('schedule-wrapper') %>

<div class="container">

  <div class="upcoming">
    <h2>Your Schedule</h2>
    <ul class="classes"></ul>
    <p class="empty">
      You have no upcoming classes. 
      <a href="/customize#studios">Add class filters</a>
    </p>

    <button class="save-appointments disabled">Save schedule</button>
  </div>

  <div class="suggested-classes">
    <h2>Available classes</h2>
    <ul class='classes'></ul>
    <p class="empty">
      No classes yet. <a href="/customize#studios">Add a studio</a>
    </p>
  </div>

</div> <!-- end container -->

<script type="text/javascript">
  var schedule = new Schedule();
  schedule.getAppointments();
  schedule.suggestClasses();
</script>
