<h1>My Fit Schedule</h1>


<h3>Choose a Calendar</h3>

<ul class='all-calendars'></ul>


<h3>Paste a studio's schedule</h3>
(We currently support mindbodyonline.com and fitreserve.com)
  
<%= form_tag("/classes", method: "POST", id: 'studio-schedule') do %>
  <%= text_field_tag :url %>
  <%= submit_tag('View classes') %>
<% end %>

https://www.fitreserve.com/nyc/studios/1019-body-pole


<h3>Specify your class preference</h3>
Class type
<ul>
</ul>


Class level
<ul></ul>



<h3>Chooese your time preference</h3>
(Sunday through Monday)
<ul></ul>

<script type="text/javascript">
  var calendar = new Calendar();
  calendar.get();
</script>
