<h1>My Fit Schedule</h1>


<h3>Choose a Calendar</h3>

<ul class='all-calendars'></ul>


<h3>Paste a studio's schedule</h3>

<form id='studio-schedule'>
  <input class="url"></input>
  <button class="submit">View classes</button>
</form>

<p>
  Example: https://www.fitreserve.com/nyc/studios/1019-body-pole
</p>

<p>
* We currently support mindbodyonline.com and fitreserve.com
</p>


<div class='studio'>
  <h2 class="name"></h2>  
  <p class="address"></p>

  <ul class="schedule"></ul>
</div>


<h3>Specify your class preference</h3>
Class type
<ul>
</ul>


Class level
<ul></ul>



<h3>Choose your time preference</h3>
(Sunday through Monday)
<ul></ul>

<script type="text/javascript">
  var calendar = new Calendar();
  calendar.get();

  var studio = new Studio();
  studio.getClasses();
</script>
