@mixin button-style {
  padding: 6px 12px;
  color: #333;
  background-color: #fff;
  border: 1px solid #ccc;
  cursor: pointer;

  &:hover {
    background-color: #ebebeb;
  }

  &.active {
    background-color: #354443;
    color: #fff;
  }
}

@mixin button-dark {
  background-color: #354443;
  color: #fff;
}

$teal: #319f91;


@mixin linear-gradient($direction, $start-color, $start-point, $stop-color, $stop-point) {
  background-image: -webkit-linear-gradient(
                      $direction, $start-color $start-point, $stop-color $stop-point
                    );
  background-image: -o-linear-gradient(
                      $direction, $start-color $start-point, $stop-color $stop-point
                    );
  background-repeat: repeat-x;
  background-color: $stop-color;
}
