@import 'mixins';

/* LAYOUT */
body, html {
  min-height: 100%;
  font-size: 16px;
  font-family: 'Lato';
}

body {
  width: 100%;
  min-height: 100vh; /* needs to fix its height */
  position: relative;
  margin: 0;
}

.container {
  min-height: 95vh;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
}

div, section, ul, li {
  box-sizing: border-box;
}

/* STYLES */
a {
  color: $hotpink;
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
}

i {
  cursor: pointer;
}

.faint {
  color: #777;
  font-weight: 300;
}

.tooltip {
  display: none;
}

button {
  @include button-style;
}

input[type="text"] {
  padding: 6px;
}

input, button {
  outline: none;
}
