body, html {
  min-height: 100%;
  font-size: 16px;
  font-family: 'Lato';
}

body {
  width: 100%;
  min-height: 90vh; /* needs to fix its height */
  position: relative;
  margin: 0;

  &.no-scroll {
    position: fixed;
    overflow: hidden;
  }
}

div, section {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
}

i {
  cursor: pointer;
}

div, section {
  box-sizing: border-box;
}
