body, html {
  min-height: 100%;
  font-size: 16px;
}

body {
  width: 100%;
  min-height: 80vh; /* needs to fix its height */
  position: relative;
  margin: 0;
}

div, section {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
