//@import 'variables.scss';

.calendar {
  width: 600px;
  margin: 0 auto;
  padding: 0;
  cursor: pointer;

  li {
    width: 12.25%;
    display: inline-block;
    vertical-align: top;
  }

  .hour-label {
    margin-top: 2em;
    div {
      border: 1px solid transparent;
      height: 1.5em;
    }
  }

  .day {
    .label {
      height: 2em;
      padding-bottom: 10px;
      text-align: center;
    }
  }

  .hour {
    border: 1px solid #f5f5f5;
    height: 1.5em;
    outline: none;

    &:nth-child(odd) {
      background-color: #f5f5f5; 
    }

    &.busy {
      background-color: #ADD8E6;
    }
  }

}
