@import 'mixins';

section.schedule,
section.favorite-studios,
.customize-wrapper section {
  width: 80%;
  min-width: 700px;
  margin: 0 auto;
}

section.schedule {
  margin-bottom: 2em;

  .upcoming {
    overflow: hidden;
  }

  .save-appointments {
    float: right;
    margin-right: 3em;
    display: block;
    @include button-dark;
    &.disabled { display: none; }
  }

  .empty {
    display: none;
    &.active { display: block; }
  }
}

.upcoming .classes,
.suggested-classes .classes {
  color: #333;

  li.class {
    margin-bottom: 8px;
    overflow: hidden;
  }

  span {
    width: 15%;
    margin-right: 2%;
    display: inline-block;
    vertical-align: top;
    font-weight: 300;

    &.title {
      width: 23%;
      font-weight: 400;
    }

    &.time {
      width: 20%;
    }
  }

  .action { /* button */
    float: right;
    clear: right;
    text-transform: uppercase;
    font-size: .7em;
    &.remove {
      i {
        font-size: 1.5em;
        margin-left: 5px;
        margin-right: 0;
      }
    }
    &.add {
      background-color: $hotpink;
      color: #fff;
      border: none;
    }
  }

  .date {
    font-size: 1.7em;
    font-weight: 300;
    display: block;
    margin-bottom: 5px;
  }

  div.label {
    padding-bottom: .3em;
    margin-bottom: .5em;
    border-bottom: 2px solid #ebebeb;
    color: #888;
    font-weight: 500;
  }
}

h2, h3, h4 {
  font-weight: 400;
}

.customize-wrapper,
.schedule-wrapper {
  .container {
    width: 80%;
    min-width: 700px;
  }

  section, .studio-form {
    display: none;
    &.active {
      display: block;
    }
  }

  .studio-show {
    width: 100%;
    margin: 0;
  }
}


/* SUB NAV*/
.customize-nav,
.schedule-nav {
  a {
    display: inline-block;
    margin-right: 10px;
    @include button-style;
    &:hover {
      text-decoration: none;
    }
  }
}

/* AVAILABILITY */
.time-blocks {
  .days .day {
    display: inline-block;
    margin-right: 10px;
  }
}
