@import 'mixins';

section.schedule,
section.suggested-classes,
section.favorite-studios,
.customize-wrapper section {
  width: 80%;
  min-width: 700px;
  margin: 0 auto;
}

.schedule .classes,
.suggested-classes .classes {
  color: #333;

  li {
    margin-bottom: 8px;
  }

  span {
    width: 15%;
    margin-right: 2%;
    display: inline-block;
    vertical-align: top;
    font-weight: 300;

    &.title {
      width: 23%;
    }

    &.time {
      width: 20%;
    }

    .action, &.title {
      font-weight: 400;
    }
  }

  .date {
    font-size: 1.7em;
    font-weight: 300;
    display: block;
    margin-bottom: 5px;
  }

  div.label {
    padding-bottom: .3em;
    margin-bottom: .5em;
    border-bottom: 2px solid #ebebeb;
    color: #888;
    font-weight: 500;
  }

}

a {
  color: #ff0032;
  &:hover { text-decoration: underline; }
}

/* STUDIO SHOW PARTIAL */
.studio-show {
  display: none;
  &.active {
    display: block;
  }
}

section.favorite-studios {
  margin: 2em auto 3em auto;

  h2, a.edit {
    display: inline-block;
    vertical-align: baseline;
  }

  h2 {
    margin: 0;
  }

  a.edit {
    margin-left: 2em;
  }

  .studios .studio h4 {
    i {
      margin-left: .5em;
    }
  }
}

h2, h3, h4 {
  font-weight: 400;
}

.customize-wrapper {
  .container {
    width: 80%;
    min-width: 700px;
  }

  .customize-nav {
    li {
      display: inline-block;
      margin-right: 10px;
      @include button-style;
    }
  }

  section {
    display: none;
    &.active {
      display: block;
    }
  }

  .studio-show {
    width: 100%;
    margin: 0;
  }
}

i {
  margin-right: .5em;
}
