@import 'mixins';

.studio-form {
  form {
    margin-bottom: 2em;
    .url {
      width: 20em;
    }
  }
  button {
    @include button-dark;
  }
}

/* FAVORITE STUDIO LIST */
.favorite-studios {
  margin: 2em auto 3em auto;

  h2, .add-new { /* Section heading */
    display: inline-block;
    vertical-align: baseline;
  }
  h2 {
    margin: 0;
  }
  .add-new {
    margin-left: 2em;
  }

  ul.studios {
    margin-top: 2em;
  }
  .studio {
    h4 { /* Studio name */
      width: 30%;
      display: inline-block;
      margin: .3em 5px .3em 0;
      font-size: 1.1em;
    }
    .fa { /* Edit icons */
      margin-left: .5em;
      font-size: 1.2em;
    }
  }
}

/* Studio Partials */
.studio-show, .studio-remove, .studio-new {
  display: none;
  &.active {
    display: block;
  }
}

/* FILTERS */
.studio-show, .studio-new {
  height: 100%;
  overflow: hidden;
  .studio-info {
    .name {
      font-size: 1.5em;
    }
    .address {
      color: #888;
      margin: .4em 0;
    }
  }

  ul.class-types {
    overflow-y: auto;
    /* Dynamic height */
    margin: 15px 0;
    .class {
      display: inline-block;
      width: 50%;
      padding-right: .5em;
      i {
        margin-right: .3em;
      }
    }
  }
  .remove {
    margin-top: 0;
    display: inline-block;
  }
}

.studio-show, .studio-new {
  .actions {
    display: none;
    text-align: right;
    .save-filters {
      margin-right: 1em;
    }
    .cancel {
      margin-right: 2em;
    }
  }
  &.active {
    .actions {
      display: block;
    }
  }
}

.studio-new .class-types {
  max-height: 400px;
  overflow-y: auto;
}

/* Studio all classes */
.studios .class-list {
  display: none;
  &.show {
    display: table;
  }
  li.date {
    margin: .7em 0 .5em 0;
    font-weight: bold;
  }
  li.class {
    display: table-row;
    span {
      display: table-cell;
      padding-right: 8px;
    }
  }
}

/* Confirm delete modal */
.studio-remove {
  .actions {
    text-align: center;
    button {
      margin-right: 1em;
    }
  }
}
