@import 'mixins';

.studio-form {
  form .url {
    width: 20em;
  }

  button {
    @include button-dark;
  }
}

/* STUDIO CLASS TYPES */
.studio-show {
  display: none;
  &.active {
    display: block;
  }
}

/* STUDIOS & FILTERS */

.studio-show {
  .studio {
    .name {
      font-size: 1.5em;
    }

    .address {
      color: #888;
      margin: .4em 0;
    }
  }

  ul.class-types {
    overflow: hidden;

    .class {
      display: inline-block;
      width: 50%;
      padding-right: .5em;

      i {
        margin-right: .3em;
      }
    }
  }

  .remove {
    margin-top: 0;
    display: inline-block;
  }
  .save-filters {
    float: right;
  }
}


/* FAVORITE STUDIO LIST */
.favorite-studios {
  margin: 2em auto 3em auto;

  h2, a.edit { /* Section heading */
    display: inline-block;
    vertical-align: baseline;
  }
  h2 {
    margin: 0;
  }
  a.edit {
    margin-left: 2em;
  }

  .studio {
    h4 { /* Studio name */
      width: 30%;
      display: inline-block;
      margin: .3em 5px .3em 0;
      font-size: 1.1em;
    }
    .fa { /* Edit icons */
      margin-left: .5em;
      font-size: 1.2em;
    }
  }
}

/* Studio all classes */
.studios .class-list {
  display: none;
  &.show {
    display: table;
  }
  li.date {
    margin: .7em 0 .5em 0;
    font-weight: bold;
  }
  li.class {
    display: table-row;
    span {
      display: table-cell;
      padding-right: 8px;
    }
  }
}
