<div class="studio-remove">
  <h3>Are you sure you want to remove this studio<br/> from your favorites?</h3>
  <p>All class preferences would be removed.</p>

  <button class="confirm">Remove</button>
  <button class="cancel">Cancel</button>
</div>
