<div class="studio-remove">
  <h3>Are you sure you want to remove this studio<br/> from your favorites?</h3>
  <p>All class preferences would be removed.</p>

  <div class="actions">
    <button class="confirm">Remove</button>
    <a href="" class="cancel">Cancel</a>
  </div>
</div>
