<div class="<%= studioClass %>">
  <div class='studio' data-id=''>
    <a class="name"></a>
    <p class="address"></p>

    <ul class="schedule"></ul>
  </div>

  <ul class="class-types"></ul>

  <button class="save-filters">Save preferences</button>
</div>
