<div class="overlay">

  <div class="modal-dialog">
    <i class="fa fa-times close"></i>

    <div class="content"></div>
  </div>

</div>


<div class="notify">
  <i class="fa fa-times close"></i>
  <div class="content"></div>
</div>
