<nav>
  <h1>
    <a href="/">Fit Schedule</a>
  </h1>

  <div class="options">
    <a href="/schedule" class="schedule">My Schedule</a>
    <a href="/customize" class='customize'>Preferences</a>
  </div>
</nav>
