<nav>
  <h1>
    <a href="/"><b>Fit</b>Schedule</a>
  </h1>

  <div class="options">
    <a href="/schedule" class="schedule">My Schedule</a>
    <a href="/customize" class='customize'>Preferences</a>
  </div>
</nav>

<% if current_user %>
  <input type='hidden' id='user' data-id="<%= current_user.id %>"
         data-calendar="<%= current_user.calendar_id %>">
  </input>
<% end %>
